*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body{
    background: #01061f;
    transition: all .5s ease;
}

body.shrinked{
    margin-left: 400px;
}

nav.menu{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 20px 40px;
}

nav.menu svg.logo{
    width: 200px;
    fill: #00aced;
}

nav.menu ul{
    display: flex;
    height: 100%;
}

nav.menu ul li{
    list-style: none;
    margin: 0px 20px;
    display: flex;
}

nav.menu ul li button{
    background-color: #00aced;
    border-radius: 100px;
    width: 10rem;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}

nav.menu ul li button:hover{
    transform: scale(1.1) ;
    box-shadow: 0px 0px 200px 0px #00aced;
}

nav.menu ul li svg{
    align-self: center;
    cursor: pointer;
}
nav.menu-movel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 0px;
    height: 100%;
    transition: width .5s ease;
    background: #00aced;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

nav.menu-movel h1{
    font-size: 2rem;
    width: 300px;
}
nav.menu-movel p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    width: 300px;
}

nav.menu-movel.active{
    width: 400px;
}

nav.menu-movel .periquito{
    width: 1000px;
    position: absolute;
    bottom: 0;
    fill: rgba(226, 255, 250, 0.315);
    z-index: -1;
}

nav.menu-movel .backbutton{
    width: 60px;
    height: 40px;
    background: #01061f;
    position: absolute;
    border-radius: 30px;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 200px 10px #01061f;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu-movel .backbutton svg{
    fill:none;
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
    width: 15px;
}

nav.menu-movel .backbutton:hover{
    transform: scale(1.1);
}

dialog {
    width: 500px;
    /* height: 400px; */
    background: white;
    box-shadow: 0px 0px 500px -50px #00aeed7a;
    border: none;
    border-radius: 50px;
    padding: 50px;
    transition: all .5s ease;
    margin: auto;
}

dialog::backdrop{
    background: #01061f5d;
}

dialog h1{
    color: #01061f;
    font-size: 2rem;
    font-weight: 800;
}

dialog label{
    color: #01061f;
    font-size: 1rem;
    font-weight: 600;   
    line-height: 2rem;
}

dialog form input, textarea{
    display: block;
    background: rgb(235, 235, 235);
    border: none;
    width: 100%;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
}

dialog form input:focus{
    border: 2px solid #00aced;
    outline: none;
}

dialog textarea{
    margin-top: 20px;
    height: 100px;
    resize: none;
    padding: 0;
    background: none;
    border-bottom: 2px solid #01061f;
    border-radius: 0;
    color: #01061f;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.1rem;
    outline: none;
}

dialog input{
    height: 40px;
}

dialog .input-group{
    margin-top: 30px;
}

dialog .button-group{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

dialog button{
    width: 120px;
    height: 50px;
    background: rgb(235, 235, 235);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 0px 10px;
    cursor: pointer;
}

dialog button.post{
    background: #00aced;
    color: white;
}

main{
    padding: 40px;
    display: flex;
    flex-direction: column;
}

main div.post{
    border: 1px solid #0678a1 ;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
}

main div.post div.user{
    display: flex;
    align-items: center;
    width: 230px;
}

main div.post div.user div.photo{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background: #00aced;
    border-radius: 50%;
}

main div.post div.user h1{
    color: rgb(226, 255, 250);   
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

main div.post div.user span{
    color: #6172b6;
    font-weight: 300;
    font-size: 0.8rem;
}

main div.post p{
    color: rgb(226, 255, 250);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 20px;
}

main div.post.pinned{
    order: -1;
    background: #0d153f;
    border: 1px solid #00aced;
}

section.slider{
    position: relative;
    margin: 0 40px;
    height: 350px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; /* LOGICA DO VAI E VEM */
}

section.slider .projector{
    display: flex;
    flex-shrink: 0; /*IMAGENS NÃO ESTICAM */
    width: 500%;
    height: 100%;
    transition: all .5s ease;
}

section.slider .image-container{
    width: 20%;
    /* overflow: hidden; */
}

section.slider .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

section.slider .arrows .arrow-left{
    width: 60px;
    height: 40px;
    background: #00aced;
    position: absolute;
    border-radius: 30px;
    top: calc(50% - 20px);
    left: 20px;
    cursor: pointer;
    transition: all .8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.slider .arrows .arrow-left svg{
    fill:none;
    stroke:#01061f;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
    width: 15px;
}

section.slider .arrows .arrow-right{
    width: 60px;
    height: 40px;
    background: #00aced;
    position: absolute;
    border-radius: 30px;
    top: calc(50% - 20px);
    right: 20px;
    cursor: pointer;
    transform: rotate(180deg);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.slider .arrows .arrow-right svg{
    fill:none;
    stroke:#01061f;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
    width: 15px;
}

