*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

@font-face {
    font-family: grafas;
    src: url(./assets/aaaiight.ttf);
}

nav.main{
    display: flex;
    background-color: #001FFF;
    color: white;
    justify-content: space-around;
    padding: 20px;
    height: 5vh;
}
nav.main div{
    display: flex;
}

nav.main div svg{
    width: 50px;
    fill: white;
    margin: 0 30px;
}

nav.main div span{
    font-style: italic;
    font-weight: 500;
    letter-spacing: -1px;
    align-self: center;
    padding: 4px 10px;   
    background: white;
    color: #001FFF;
}
nav.main ul{
    list-style: none;
    padding-top: 5px;
    display: flex;
}
nav.main ul li{
    display: inline-block;
}
nav.main ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    transition: background 0.5s ease;
}


nav.main ul li a:hover{
    font-family: grafas;
    background: #2c3cff;
}
 
main{
    display: flex;
    min-height: 90vh;
}

main nav.leftside{
    flex-basis:300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* background: red; */
}

main nav.leftside h1{
    font-size: 2.6rem;
    padding: 30px;
}

main nav.leftside h4{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 30px;
    letter-spacing: -1px;
}

main nav.leftside ul{
    padding: 0px 30px; 
    list-style: none;  
}

main nav.leftside li{
    margin: 30px 0px;
    /* padding: 20px; */
}

main nav.leftside li a{
    display: block;
    width: 150px;
    color: #585858;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -1px;
}

main section{
    /* background: #7b7f9d; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: relative;
}

main section img{
    margin: 30px;
    width: 150px;
    height: 150px;
    transition: transform .5s ease;
}

main section img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

main article.rightside{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
}

main article.rightside h4{
    font-size: 1.5rem;
    padding: 30px;
}

main article.rightside img{
    width: 100%;
}

main article.rightside p{
    font-size: 0.9rem;
    padding: 30px;
    line-height: 200%;
    text-align: justify;
}

footer{
    background: #001FFF;
    text-align: center;
}

footer p{
    color: white;
    padding: 20px 0px;
    font-weight: 500;
}
.grafas{
    font-family: grafas;
    color: #008b07;
    /* font-weight: ; */
}